body{background:#EFEFEF; color:#999; font:small-caps 14px Arial, Helvetica, sans-serif;}
.main{width:300px; text-align:center; position:absolute; left:50%; margin-left:-150px;}
.slide{background:black; padding:20px;}
#logo{margin-bottom:25px;}
a{color:#333;text-decoration:none;position:relative; overflow:hidden;}
 a span{
	position:absolute;
	display:block;
	left:0px;
	bottom:0px;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	float:none;
	overflow:hidden;
}
a span span{
	height:1px;
	left:-105%;
	background:white;	
}