body {
  margin: 20px;
}

section {
  margin: 25px 0px;
  border-top: 1px solid #c5c5c5;
}

section h3 {
  font-weight: bold;
  font-variant: small-caps;
  margin: 0px 0px 7px;
  padding: 3px 0px;
  border-bottom: 1px solid #c5c5c5;
}

.skills {
}

.skills ul {
  margin: 0px;
  padding: 0px 0px 0px 10px;
  list-style: none;
}

.skills li {
  display: inline-block;
  padding: 2px 5px 0px;
  border-bottom: 1px solid #dddddd;
}

.skills li.skills-languages {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  border-bottom: 0px;
  margin-left: -10px;
}

.skills li.skills-software {
  font-weight: bold;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  border-bottom: 0px;
  margin-left: -10px;
}

.job {
  border-bottom: 1px solid #efefef;
  margin: 8px 0px;
}

.job-title {
  font-weight: bold;
  display: block;
}

.job-duration {
  float: right;
}

.job-company {
  font-style: italic;
  font-variant: small-caps;
}

.job-detail {
  list-style: none;
  margin: 8px 0px;
  padding: 0px 0px 0px 10px;
  clear: both;
}

.job-detail li:before {
  content: '-';
  display: inline-block;
  margin-right: 8px;
  font-weight: bold;
}