body {
  margin: 20px;
}

section {
  margin: 25px 0px;
  border-top: 1px solid #c5c5c5;
}

section h3 {
  font-weight: bold;
  font-variant: small-caps;
  margin: 0px 0px 7px;
  padding: 3px 0px;
  border-bottom: 1px solid #c5c5c5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-details {
  list-style: none;
  display: flex;
  flex-flow: row-reverse;
  flex-wrap: wrap;
  padding: 0;
}

.contact-details li {
  margin: 0px 0px 8px 5px;
  font-weight: bold;
}

.contact-details .em {
  margin: 0px 5px 0px 15px;
  font-style: italic;
  font-weight: normal;
}

.skills-detail-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.skills ul {
  margin: 0px;
  padding: 0px 0px 0px 10px;
  list-style: none;
}

.skills li {
  display: inline-block;
  padding: 2px 5px 0px;
  border-bottom: 1px solid #dddddd;
}

.skills .skills-languages li:first-child {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  border-bottom: 0px;
  margin-left: -10px;
}

.skills .skills-frameworks li:first-child {
  font-weight: bold;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  border-bottom: 0px;
  margin-left: -10px;
}

.job-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.job-item {
  border-bottom: 1px solid #efefef;
  margin: 8px 0px;
}

.job-title {
  font-weight: bold;
  display: block;
}

.job-duration {
  float: right;
}

.job-company {
  font-style: italic;
  font-variant: small-caps;
}

.job-detail-list {
  list-style: none;
  margin: 8px 0px;
  padding: 0px 0px 0px 10px;
  clear: both;
}

.job-detail-item:before {
  content: '-';
  display: inline-block;
  margin-right: 8px;
  font-weight: bold;
}

.education-location {
  font-weight: bold;
}

.education-year {
  font-style: italic;
  padding-right: 5px;
  margin-right: 8px;
  border-right: 1px solid #CCC;
}

.certification-item {
  font-weight: bold;
}

.certification-year {
  font-style: italic;
}
